@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');

:root {
    --cor-primaria: #000;
    --cor-secundaria: #f6f6f6;
    --cor-terciaria: #22d4fd;
    --cor-botoes: green;
    
    --fonte-primaria:'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat', sans-serif;
    --fonte-textos: 1.5rem;

}

* {
    margin: 0;
    padding: 0;
}

body {
    /* height: 100vh; */
    box-sizing: border-box;
    background-color: VAR( --cor-primaria);
    color: var(--cor-secundaria);
}

.titulo-destaque {
    color: var(--cor-terciaria);
}

.apresentacao {
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}

.apresentacao__conteudo{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.apresentacao_conteudo__paragrafo{
    font-size: var(--fonte-textos);
    font-weight: 400;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    gap: 32px;
}

.apresentacao__links__navegacao{
    display: flex;
    justify-content: center;
    gap: 16px;
    border: 2px solid var(--cor-terciaria);
    width: 50%;
    text-align: center;
    border-radius: 8px;
    font-size: var(--fonte-textos);
    font-weight: 600;
    padding: 21.5px 0;
    text-decoration: none;
    color:#f6f6f6;
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__navegacao:hover{
    background-color: var(--cor-botoes);
}

.apresentacao__links_subtitulo{
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: var(--fonte-textos);
}

.apresentacao__imagem{
    width: 50%;
}

.Rodape{
    padding: 24px;
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    display: flex;
    justify-content: center;
    font-family: var(--fonte-secundaria);
    font-size: var(--fonte-textos);
    font-weight: 400;
}

.Cabecalho{
    padding: 2% 0% 0% 15%;
}

.Cabecalho__menu{
    display: flex;
    gap: 80px;
}

.Cabecalho__menu__link{
    font-family:var(--fonte-secundaria);
    font-weight: 600;
    font-size: var(--fonte-textos);
    color: var(--cor-terciaria);
    text-decoration: none;
}

@media( max-width: 1028px) {
    .apresentacao{
        flex-direction: column-reverse;
        padding: 5%;
    }

    .apresentacao__conteudo{
        width: auto;
    }

    .Cabecalho {
        padding: 10%;
    }
    .Cabecalho__menu{
        justify-content: center;
    }
}